## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [1]:
# Dependencies
import pandas as pd

import numpy as np

In [2]:
# load CSV

Mini_Project_1 = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
new_coders_pd = pd.read_csv(Mini_Project_1)

new_coders_pd.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)



new_coders_pd = new_coders_pd.iloc [: ,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace function



new_coders_pd  = new_coders_pd.replace([0, 1,], ["No","Yes"])
new_coders_pd

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Self-employed freelancer,male,NaN,5,40000.0,NaN,bachelor's degree,English
6,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Singapore,software development,Employed for wages,male,NaN,8,32000.0,NaN,bachelor's degree,Computer Science
7,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United Kingdom,office and administrative support,Employed for wages,male,No,NaN,40000.0,NaN,master's degree (non-professional),Education
8,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,80000.0,NaN,bachelor's degree,Business Administration
9,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,male,NaN,20,80000.0,NaN,master's degree (non-professional),Business Administration
10,57.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Self-employed business owner,male,No,8,20000.0,NaN,bachelor's degree,Computer Science
11,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Bangladesh,NaN,Not working and not looking for work,male,NaN,5,NaN,NaN,"some college credit, no degree",NaN
12,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,health care,Employed for wages,male,NaN,5,90000.0,NaN,bachelor's degree,Mechanical Engineering
13,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Business Administration
14,37.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",NaN,Bosnia & Herzegovina,sales,Self-employed business owner,male,Yes,2,NaN,NaN,"some college credit, no degree",NaN
15,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Russia,software development,Employed for wages,female,NaN,10,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Math
16,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,female,NaN,4,80000.0,NaN,bachelor's degree,Economics
17,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,5,17000.0,NaN,bachelor's degree,Music
18,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,software development,Self-employed freelancer,male,NaN,2,16000.0,NaN,bachelor's degree,Music
19,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Croatia,NaN,Not working but looking for work,male,No,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
20,32.0,No,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,NaN,United States of America,NaN,Employed for wages,female,Yes,5,200000.0,Full-Stack Web Developer,master's degree (non-professional),Geology
21,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science
22,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,10,100000.0,NaN,bachelor's degree,Computer Science
23,44.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,office and administrative support,Employed for wages,female,No,30,41000.0,NaN,bachelor's degree,Political Science
24,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,NaN,Not working but looking for work,male,NaN,25,NaN,NaN,bachelor's degree,Computer Science
25,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,25,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
26,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,South Africa,NaN,Self-employed freelancer,male,No,Yes,12000.0,NaN,high school diploma or equivalent (GED),NaN
27,28.0,No,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,NaN,United States of America,software development,Employed for wages,male,Yes,10,60000.0,NaN,"trade, technical, or vocational training",NaN
28,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10,75000.0,Full-Stack Web Developer,bachelor's degree,Political Science
29,35.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",NaN,United Kingdom,software development,Employed for wages,male,Yes,5,35000.0,NaN,master's degree (non-professional),Physics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15590,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,NaN,2,200000.0,NaN,bachelor's degree,Computer Science
15591,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Brazil,software development and IT,Employed for wages,male,No,2,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15592,43.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,Yes,3,200000.0,NaN,high school diploma or equivalent (GED),NaN
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting
15594,36.0,No,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,NaN,United States of America,finance,Employed for wages,male,Yes,Yes,200000.0,NaN,bachelor's degree,Engineering
15595,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,software development and IT,Self-employed freelancer,male,No,30,200000.0,NaN,some high school,NaN
15596,30.0,No,NaN,NaN,NaN,NaN,NaN,2,"less than 100,000",NaN,Brazil,software development and IT,Employed for wages,male,Yes,2,200000.0,NaN,high school diploma or equivalent (GED),NaN
15597,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,legal,Self-employed freelancer,male,NaN,6,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Law
15598,28.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",NaN,United States of America,food and beverage,Employed for wages,male,Yes,20,200000.0,Full-Stack Web Developer,associate's degree,Computer and Information Systems Security
15599,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,NaN,5,200000.0,NaN,"some college credit, no degree",NaN
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000.0,NaN,bachelor's degree,Marketing
15601,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,legal,Employed for wages,male,NaN,10,200000.0,NaN,bachelor's degree,Criminal Justice and Safety Studies
15602,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,NaN,50,200000.0,Data Scientist / Data Engineer,bachelor's degree,Mathematics
15603,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,4,200000.0,NaN,bachelor's degree,Computer Science
15604,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Norway,construction and extraction,Employed for wages,male,NaN,5,200000.0,Front-End Web Developer,"some college credit, no degree",NaN
15605,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Portugal,software development and IT,Employed for wages,male,NaN,5,200000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15606,43.0,No,NaN,NaN,NaN,NaN,NaN,3,more than 1 million,NaN,Canada,legal,Self-employed business owner,male,Yes,3,200000.0,NaN,bachelor's degree,Physics
15607,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Philippines,software development,Self-employed freelancer,male,No,8,200000.0,NaN,no high school (secondary school),NaN
15608,43.0,No,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,NaN,United States of America,health care,Employed for wages,male,Yes,6,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical Engineering
15609,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,No,16,200000.0,NaN,bachelor's degree,Software Engineering
15610,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,education,Employed for wages,male,NaN,5,200000.0,Front-End Web Developer,master's degree (non-professional),Religious Studies
15611,37.0,No,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,NaN,Canada,software development and IT,Self-employed business owner,male,Yes,40,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering
15612,45.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Employed for wages,female,NaN,2,200000.0,NaN,"some college credit, no degree",NaN
15613,30.0,No,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,NaN,South Africa,software development and IT,Employed for wages,male,Yes,4,200000.0,NaN,"trade, technical, or vocational training",NaN
15614,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,finance,Employed for wages,male,NaN,3,26000.0,NaN,"trade, technical, or vocational training",NaN
15615,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,No,40,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,No,15,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,2,18000.0,NaN,bachelor's degree,Graphic Design

In [7]:
# Calculate total number of respondents in survey
# consider using the len() function

Total_survey = len(new_coders_pd)
Total_survey

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column



attended_bootcamp = new_coders_pd.loc[new_coders_pd["AttendedBootcamp"] == "Yes"]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [9]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it

 
average_age = attended_bootcamp["Age"].mean()
average_age

31.066014669926652

In [10]:
# Calculate how many people attended a bootcamp
# Count the values of the AttendedBootcamp column


amount_attended = attended_bootcamp["AttendedBootcamp"].count()
amount_attended

953

In [11]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column

degree_types = attended_bootcamp["SchoolDegree"].value_counts()
degree_types

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [12]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column

holds_degree = attended_bootcamp["SchoolDegree"].loc[
    (attended_bootcamp["SchoolDegree"] != "some college credit, no degree") &
    (attended_bootcamp["SchoolDegree"] != "high school diploma or equivalent (GED)") &
    (attended_bootcamp["SchoolDegree"] != "trade, technical, or vocational training") &
    (attended_bootcamp["SchoolDegree"] != "some high school") &
    (attended_bootcamp["SchoolDegree"] != "no high school (secondary school)")
].count()

holds_degree

637

In [13]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

total_gender = attended_bootcamp["Gender"].count()
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
non_gender_specific = total_gender - male - female
print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}")

 Total: 833
 Male: 496
 Female: 326
 non_specfic: 11

In [14]:
# Calculate percentage of respondents who attended a bootcamp

percent_attended = amount_attended / Total_survey * 100
percent_attended

6.101152368758003

In [15]:
# Calculate percentage of respondents belonging to each gender

male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender) * 100
print(
    f" % Male: {male_percent}\n % Female: {female_percent}\n % non_specifc: {non_gender_specific}")

 % Male: 59.5438175270108
 % Female: 39.13565426170468
 % non_specifc: 11

In [16]:
# Calculate percentage of attendees with a college degree

degree_percentage = (holds_degree/amount_attended) * 100

degree_percentage

66.84155299055614

In [17]:
# Calculate average post-bootcamp salary

avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [19]:
# Create a new table consolidating above calculations

bootcamp_breakdown = pd.DataFrame({"Total Survey": [Total_survey],
                                   "Total Bootcamp attendees": [amount_attended],
                                   "% attended bootcamp": [percent_attended],
                                   "Avg. Age": [average_age],
                                   "% Male": [male_percent],
                                   "% Female": [female_percent],
                                   "% Non Gender Specific": [non_gender_specific_percent],
                                   "Has a degree": [degree_percentage],
                                   "Average Post Bootcamp Salary": [avg_salary]
                                   })
bootcamp_breakdown = bootcamp_breakdown[["Total Survey",
                                         "Total Bootcamp attendees",
                                         "% attended bootcamp",
                                         "Avg. Age",
                                         "Has a degree",
                                         "% Male",
                                         "% Female",
                                         "% Non Gender Specific",
                                         "Average Post Bootcamp Salary"]]
bootcamp_breakdown = bootcamp_breakdown.round(2)

bootcamp_breakdown

,Total Survey,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,66.84,59.54,39.14,1.32,63740.51

In [20]:
# Improve formatting before outputting spreadsheet

bootcamp_breakdown["% Male"] = bootcamp_breakdown["% Male"].map(
    "{0:,.2f}%".format)
bootcamp_breakdown["% Female"] = bootcamp_breakdown["% Female"].map(
    "{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] = bootcamp_breakdown["% attended bootcamp"].map(
    "{0:,.2f}%".format)
bootcamp_breakdown["% Non Gender Specific"] = bootcamp_breakdown["% Non Gender Specific"].map(
    "{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] = bootcamp_breakdown["Has a degree"].map(
    "{0:,.2f}%".format)
bootcamp_breakdown["Average Post Bootcamp Salary"] = bootcamp_breakdown["Average Post Bootcamp Salary"].map(
    "${0:,.0f}".format)
bootcamp_breakdown

,Total Survey,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,66.84%,59.54%,39.14%,1.32%,"$63,741"

In [21]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes


bootcamp_breakdown.to_excel("output2.xlsx", index=False)